<head>
    <title>Welcome</title>
  </head>
  <div class="body">
  <br><br><br><br>
  <H1 align="center">SpringFood | A FASTER WAY TO ORDER YOUR FOOD</H1>
  <br><br><br><br><br><br>
  <table align="center">
    <tr>
      <td><a routerLink="/login"><button class="bigbutton"><span>Log In</span></button></a></td>
      <td><a routerLink="/register"><button class="bigbutton"><span>Register</span></button></a></td>
    </tr>
  
</table>
<img src="../../assets/images/piece.jpg" style="height: 800px;width: 667px">
<img src="../../assets/images/delivery.jpg" style="height: 800px;width: 682px">
<hr>
  <div class="fixed-footer">

    
    <div class="container" align="center">Copyright &copy; 2023 central Health Administration</div>  
    <br>      
</div>
</div>
  
  

